<% provide(:title, "About")%>

<h1>Welcome to Campus Connect</h1>
<p>This is a web application that enable students and teachers to interact.</p>
<p>The app enables sharing by following registered users</p>

